@import 'mixins';

.blocks-container-outer {
    flex-grow: 1;
    .center-content();
}

.blocks-container-inner {
    width: 1200px;
    margin: 25px 0;
}

.block {
    box-sizing: border-box;
    float: left;
    width: 250px;
    height: 180px;
    margin: 25px;
    position: relative;
    background: @trans-white;
    font-size: 38px;
    text-align: center;
    .brand-font();
    .shadow();

    a {
        display: block;
        background: @white;
        .center-content();
        .fit(12px);
    }
}

@media @medium {
    .blocks-container-inner {
        width: 750px;
        margin: 15px 0;
    }

    .block {
        width: 220px;
        height: 150px;
        margin: 15px;
        font-size: 26px;

        a {
            .fit(8px);
        }
    }
}

@media @small {
    .blocks-container-inner {
        width: 500px;
    }
}

@media @extra-small {
    .blocks-container-inner {
        width: 300px;
        margin: 10px 0;
    }

    .block {
        width: 130px;
        height: 95px;
        margin: 10px;
        font-size: 18px;

        a {
            .fit(5px);
        }
    }
}
