@import 'mixins';

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.home-blocks {
	width: 1050px;
	margin: 50px auto;

	.block {
		float: left;
		width: 300px;
		height: 200px;
		margin: 25px;
		background: @grey;
		.center-content();
	}
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: @black;
	opacity: 0.5;
}

.popup-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	.center-content();

	.popup {
		width: 500px;
		height: 500px;
		background: @grey;

		.content {
			width: 100%;
		}
	}
}
